body {
    font-family: Arial;
    background: #f4f6f8;
    margin: 0;
}

.card {
    background: white;
    width: 340px;
    margin: 100px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    text-align: center;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #3498db;
    border: none;
    color: white;
    border-radius: 5px;
}

button:hover {
    background: #2980b9;
}
